---
layout: lightbox
title: Projects
summary: A collection of open source and other projects that I've worked on.
---

<h2 id="open-source">Open Source</h2>

<div>

    <p>
        Open source projects I created and maintain.
    </p>

    <p>
        <!-- From https://buttons.github.io/ -->
        <a class="github-button" href="https://github.com/luhuanju" data-size="large" aria-label="Follow @luhuanju on GitHub">Follow @luhuanju</a>
    </p>

    <ul>
        <li> Online Blog System — A Python Django app with AngularJS and Docker for an onlint Blog System</li>
        <li><a href="https://github.com/luhuanju/PathFindingVisualizer">Pathfinding Visualizer </a> — Independently built an Open-source responsive web application that visualizes the shortest and optimal path between two
            locations, and demonstrates the process of classical pathfinding algorithms in an intuitive manner.</li>
        <li><a href="https://github.com/luhuanju/webservice">Lintly</a>  Infrastructure as Code (IaC). Configured AWS CloudFormation stack for provisioning AWS infrastructure resources  including VPC, Subnet, Linux Ec2, RDS,
            Route Table, Security, S3, IAM for web app using Python, Django </li>
        <li><a href="https://github.com/huanjulu/RipplesSpreadView">RipplesSpreadView </a> —A custom View for Android app</li>
            
    </ul>

</div>

<h2 id="other-projects" style="margin-bottom: 0;">Apps</h2>

<div style="margin-top: 0;">

    {% for project in site.data.projects %}
        <div class="project cf">
            <h3 id="{{ project.header | slugify }}"><a href="{{ project.headerlink }}">{{ project.header }}</a></h3>

            <div class="cf">
                <div class="project-image-container">
                    <a href="{{ project.mainimage }}" class="image-link" title="{{ project.mainimagealt }}">
                        <img src="{{ project.mainimagesmall }}" alt="{{ project.mainimagealt }}" />
                    </a>
                </div>

                <div class="project-description">
                    <p>{{ project.description }}</p>

                    {% if project.github %}
                    <p>
                        <ul class="project-links">
                            <li>
                                <a href="{{ project.github }}">
                                    <span class="icon"><i class="fa fa-github"></i></span>Github
                                </a>
                            </li>
                        </ul>
                    </p>
                    {% endif %}
                </div>
            </div>

            <div class="project-additional-images">
                {% for image in project.additionalimages %}
                    <a href="{{ image.full }}" class="image-link" title="{{ image.alt }}">
                        <img data-original="{{ image.thumbnail }}" alt="{{ image.alt }}" class="lazy" />
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

</div>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
